<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{title.favorite.failure}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>
<div>
	<h2 class="title">
		<span th:text="お気に入り登録中..."></span>
	</h2>
</div>
</head>

<body>
お気に入り処理に失敗しました。<hr>
<div th:if = "${session.user == null}">
お気に入り機能を利用するにはログインが必要です。<hr>
ログインされていない場合は、ログインしてください。<hr>
</div>
<div th:unless = "${session.user == null}">
お手数をおかけしますが、もう一度最初からやり直してください。<hr>
</div>
注意　このWebサイトはJavaScriptを使用して制作されています。<hr>
JavaScriptを無効化されている場合は一部機能がご利用できませんので、<hr>
JavaScriptの有効化をお願いします。<hr>
自動的に画面が移動しない場合、または誤ってこの画面が表示されてしまった場合は、<hr>
<a th:href = "@{/}">ここをクリックしてトップ画面に戻る</a>
<script>

var url = document.referrer;
location.href = url;
if(sessionStorage.getItem('user')==null){
	alert('先に、ログインしてください。');
	location.href = '/shared_shop/login';
}
</script>

</body>

</html>