<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{title.favorite.complete}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>
<div>
	<h2 class="title">
		<span th:text="お気に入り処理中..."></span>
	</h2>
</div>
</head>

<body>
	お気に入り処理中...
	<hr>
	注意　このWebサイトはJavaScriptを使用して制作されています。
	<hr>
	JavaScriptを無効化されている場合は一部機能がご利用できませんので、
	<hr>
	JavaScriptの有効化をお願いします。
	<hr>
	自動的に画面が移動しない場合、または誤ってこの画面が表示されてしまった場合は、
	<hr>
	<a th:href="@{/}">ここをクリックしてトップ画面に戻る</a>

	<div th:if="${isAdd}">
		<script>
			alert('お気に入りの追加が完了しました。');
		</script>
	</div>

	<div th:unless="${isAdd}">
		<script>
			alert('お気に入り機能の削除が完了しました。');
		</script>
	</div>



	<script>

		var url = document.referrer;
		location.href = url;
/*if(sessionStorage.getItem('user')==null){
						//	alert('先に、ログインしてください。');
						//	location.href = '/shared_shop/login';
						}*/
	</script>

</body>

</html>