<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{title.favorite.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>
<div>
	<h2 class="title">
		<span th:text="お気に入り一覧|シェアードショップ"></span>
	</h2>
</div>
</head>

<body>
	<script>

		function goChange(number) {

			if (number == 1) {


				document.getElementById("con1").style.display = "block";
				document.getElementById("con2").style.visibility = "hidden";
				document.getElementById("aaa").style.backgroundColor = "#FFD24E";
				document.getElementById("bbb").style.backgroundColor = "white";
			}

			if (number == 2) {

				document.getElementById("con1").style.display = "none";
				document.getElementById("con2").style.visibility = "visible";
				document.getElementById("aaa").style.backgroundColor = "white";
				document.getElementById("bbb").style.backgroundColor = "#FFD24E";
			}



		}
		function loginCheck(){
			alert('先にログイン');s
		}
		/*function goDelete() {

			var q = aaa.itemId.value;
			alert(q);

			var userId = document.favoriteDelete

			aaa.method = "post";
			aaa.action = "shared_shop/client/delete";
			aaa.submmit();
					
					var form = document.createElement('form');
					form.action="shared_shop/client/delete";
					form.method = "post";
					
					var id = document.createElement('input');
					id.type = "number";
					id.value = 1;
					
					form.appendChild(id);
					document.body.appendChild(form);
					
					form.submit();
				
		}*/

	</script>
	<div>
		<h2 class="title" th:text="お気に入り一覧">
		</h2>
	</div>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<div th:if="${favorite_isEmpty}">
		<p class="message">該当する商品は存在しません。</p>
		<p class="listLink">
			<a th:href="@{/client/item/list}">一覧表示に戻る</a>
		</p>
	</div>
	<div th:unless="${favorite_isEmpty}">
		

		<table class="list_table item_list">
			<colgroup>
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
			</colgroup>
			<div>
				<!--style="border: 1px solid; height: 50px; float: left; "-->
				<tr>
					<th>
						商品写真
					</th>
					<th>
						商品名
					</th>
					<th>
						価格
					</th>
					<th>
						カテゴリ
					</th>
				</tr>
				<tr th:each="favorites, stat: ${favorite}">
					<td>
						<!--画像の上に画像を重ねる-->
						<div class="base">
							<a th:href="@{/client/item/detail/{id}(id=*{favorites.item.id})}">
								<img th:src="@{/images/items/{image}(image=*{favorites.item.image})}" th:if="${favorites.item.image != null}"
									style=" border: 1px solid ; width: 80px; height: 80px;">
								<img th:src="@{/images/common/no_image.jpg}" th:if="${favorites.item.image == null}" 
								style=" border: 1px solid ; width: 80px; height: 80px;"/>
									</a>
							<div th:if="${isFavorite.get(__${stat.index}__)}">
								<div class="heart">
								<th:block th:if = "${session.user != null}">
									<!--お気に入りの場合、お気に入り登録を削除-->
									<form name="favoriteDelete" th:action="@{/client/favorite/delete}" th:method="post">
										<a><img th:src="@{/images/common/heart_shape_fav.png}" onclick="submit()"></a>
										<input type="hidden" name="itemId" th:value="${favorites.item.id}" />
										<input type="hidden" name ="returnUrl" value="/client/favorite/list"/>
									</form>
									<script>
										function submit() {
											alert('aaa');
											var form = document.favoriteDelete;
											//var itemId = document.favoriteDelete.itemId.value;
											//var returnUrl = document.favorite.returnUrl.value;
											//form.itemId = this.itemId;
											//form.returnUrl = this.returnUrl;
											form.submit();
										}
									</script>
								</th:block>
								<!--<th:block th:if = "${session.ser == null}">
									お気に入りの場合、お気に入り登録を削除
									<form name="favoriteDelete" th:action="@{/client/favorite/delete}" th:method="post">
										<a><img th:src="@{/images/common/heart_shape_fav.png}" onclick="loginCheck()"></a>
										<input type="hidden" name="itemId" th:value="${favorites.item.id}" />
										<input type="hidden" name ="returnUrl" value="/client/favorite/list"/>
										<input type="submit" value="test"/>
									</form>
									<script>
										function submit() {
											alert('aaa');
											var form = document.favoriteDelete;
											//var itemId = document.favoriteDelete.itemId.value;
											//var returnUrl = document.favorite.returnUrl.value;
											//form.itemId = this.itemId;
											//form.returnUrl = this.returnUrl;
											form.submit();
										}
									</script>
								</th:block>-->
								
								</div>


							</div>
							<div th:unless="${isFavorite.get(__${stat.index}__)}">
								<div class="heart">
									<!--お気に入りでない場合、お気に入りを登録-->
									<img th:src="@{/images/common/heart_shape_notfav.png}">
								</div>
							</div>
						</div>
						<!---->
					</td>
					<td>
						<p style="" th:text="${favorites.item.name}"></p>
					</td>
					<td>
						<p style="" th:text="${'\'+favorites.item.price}"></p>
					</td>
					<td>
						<p style="" th:text="${favorites.item.category.name}"></p>
					</td>

				</tr>
			</div>
		</table>
	</div>

</body>

</html>