<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script src="https://kit.fontawesome.com/095fdde532.js" crossorigin="anonymous">

</script>

<body>
	<div th:fragment="layout-header" class="container">
	
		<th:block th:if="${session.user == null or session.user.authority == 2}">
			<h1 style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:class="site_title" th:text="#{shop.title}" onclick=location.href='/shared_shop/'></h1>
		</th:block>
		
		<div style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:if="${session.user != null and session.user.authority == 2}" class="user_info">
			<a style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:href="@{/client/user/detail}" th:text="${session.user.name}"></a>さん | 
			<a style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:href="@{/logout}"
				th:text="#{logout}"></a>
		</div>
		
		<th:block th:if="${session.user != null and (session.user.authority == 0 or session.user.authority == 1)}">
			<h1  style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:class="site_title" th:text="#{shop.title}" onclick=location.href='/shared_shop/admin/menu'></h1 >
		</th:block>
		
		<div style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:if="${session.user != null and (session.user.authority == 0 or session.user.authority == 1)}"
			class="user_info">
			<a style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:href="@{/admin/user/detail/{id}(id=${session.user.id})}" th:text="${session.user.name}"></a>さん | <a
			 style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;"	th:href="@{/logout}" th:text="#{logout}"></a>
		</div>
		<div style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:if="${session.user == null}" class="user_info">
			<a style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:href="@{/login}" th:text="#{login}"></a> | <a style="text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;" th:href="@{/client/user/regist/input/init}"
				th:text="#{client.regist}"></a>
		</div>

		<!-- 辛による編集 2023/06/09-->
		<script>
			function loginCheck() {
				alert('先に、ログインしてください。');
			}
		</script>

		<ul th:fragment="layout-menu" th:class="navi_menu">

			<th:block th:if="${session.user == null}">
				<li style="margin-right: 40px; clear: right;"><a id="aa1" onclick="loginCheck()"> <img
							th:src="@{/images/kaimonokago.png}" style="height: 30px; width:30px;"></a>
				</li>
				<li><a id="bb1" onclick="loginCheck()"><img th:src="@{/images/ha-to toumei.png}"
							style="height: 30px; width:35px;"></a></li>
			</th:block>
			<th:block th:if="${session.user != null and  session.user.authority != 1 and session.user.authority != 0}">
				<li style="margin-right: 40px; clear: right;"><a id="aa1" th:href="@{/client/basket/list}"> <img
							th:src="@{/images/kaimonokago.png}" style="height: 30px; width:30px;"></a>
				</li>
				<li><a id="bb1" th:href="@{/client/favorite/list}"><img th:src="@{/images/ha-to toumei.png}"
							style="height: 30px; width:35px; "></a></li>
			</th:block>



			<!--	
		
			<li><a th:href="@{/client/order/list}" th:text="#{order}+#{title.list}"></a></li>
	
	-->


			<th:block th:if="${session.user == null}">
				<div id="check" style="background-color:whitesmoke; width: 180px; height: 80px;
					position:relative; float:right; clear:right; z-index: 1000; display: none;">
					<h4 style="color: gray; margin: 5px;">会員専用機能です。</h4>
					<input type="button" name="login" value="ログイン" style="margin: 3px;"
						onclick="location.href='/shared_shop/login'">
					<input type="button" name="register" value="会員登録" style="margin: 3px;"
						onclick="location.href='/shared_shop/client/user/regist/input/init'">

				</div>
				<div id="check1" style="background-color:whitesmoke ; width: 180px; height: 80px;
					 position:relative; float:right; clear:right; z-index: 1000; display: none;">
					<h4 style="color: gray; margin: 5px;">会員専用機能です。</h4>
					<input type="button" name="login" value="ログイン" style="margin: 3px;"
						onclick="location.href='/shared_shop/login'">
					<input type="button" name="register" value="会員登録" style="margin: 3px;"
						onclick="location.href='/shared_shop/client/user/regist/input/init'">
				</div>
			</th:block>
		</ul>

		<script type="text/javascript">


			const check = document.getElementById('check');
			const aaa = document.getElementById('aa1');
			const bbb = document.getElementById('bb1');


			aaa.addEventListener('mouseover', function () {
				document.getElementById("check").style.display = "block";
			});

			aaa.addEventListener('mouseout', function () {
				document.getElementById("check").style.display = "none";
			});
			bbb.addEventListener('mouseover', function () {
				document.getElementById("check1").style.display = "block";

			});
			bbb.addEventListener('mouseout', function () {
				document.getElementById("check1").style.display = "none";
			});

			check.addEventListener('mouseover', function () {
				document.getElementById("check").style.display = "block";
			});
			check.addEventListener('mouseout', function () {
				document.getElementById("check").style.display = "none";
			});
			check1.addEventListener('mouseover', function () {
				document.getElementById("check1").style.display = "block";
			});
			check1.addEventListener('mouseout', function () {
				document.getElementById("check1").style.display = "none";
			});
		</script>

	</div>

</body>

</html>