<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>

<ul th:fragment="layout-menu">
	<!--髙橋による編集06/16-->
		<div class="">
			<input type="checkbox" id="menu-btn-check">
			<label for="menu-btn-check" class="menu-btn"><span></span></label>
			<!--ここからメニュー-->
			<div class="menu-content">
				<ul class="new-contents">
					<h2 style="text-align: center; color: white; font-size: 21px;">人気・新着の商品</h2>
					<li>
						<a th:href="@{/client/item/list(t_select=新着)}">新着商品</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(t_select=売れ筋)}">人気商品</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=0,itemName=夏)}">季節限定商品</a>
					</li>
				</ul>


				<ul>
					<h2 style="text-align: center; color: white;">カテゴリー</h2>
					<li>
						<a th:href="@{/client/item/list}">全ての商品</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=1,itemName=)}">食料品</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=2,itemName=)}">書籍</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=3,itemName=)}">家具</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=4,itemName=)}">衣類</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=5,itemName=)}">文房具</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=6,itemName=)}">アクセサリー</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=7,itemName=)}">インテリア</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=8,itemName=)}">電化製品</a>
					</li>
					<li>
						<a th:href="@{/client/item/list(categoryId=9,itemName=)}">アウトドア</a>
					</li>
				</ul>
			</div>
			<!--ここまでメニュー-->

</ul>


	<ul th:fragment="layout-menu" th:class="navi_menu">

		<!--辛による編集06/09-->
		<div>
			<h2 th:class="title" style="display: inline; margin-left: 40%;"></h2>
			<form name="search" th:method="post" th:action="@{/client/item/list}">
				<select name="categoryId" id="r_categoryId">
						<option th:value="#{constants.category.select.none.no}"
								th:text="#{constants.category.select.none}"></option>
						<option th:each="category: ${categories}" 
								th:value="${category.id}" 
								th:text="${category.name}"
								th:selected="${category.id == select}"></option>
					</select>
				
				<input type="text" name="itemName" id="r_itemName" style="margin-right: 5px; width: 350px; padding-left: 5px;"
					placeholder="キーワードで検索" th:value="${search}">
					
			
			
					
					
				<input type="submit" th:value="#{select}" />
			</form>
		</div>

	
		</div>
		<!-- ハンバーガーメニュー領域外をクリックして閉じる-->
		<div class="close-content"></div>
<style>
.menu-content li a:hover{
		transition: 0.5s;
	text-align: center;
	background-color: darkolivegreen;
	;
	
}
</style>
		<!--/* メニュー(運用管理者、及びシステム管理者用) */-->
		<div th:if="${session.user != null and session.user.authority != 2}">

			<h2 th:class="title" th:text="#{admin.menu}"></h2>
			<ul class="menu">
				<li>
					<a th:href="@{/admin/user/list}" th:class="display_list" th:text="#{admin.menu.user.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/order/list}" th:class="display_list" th:text="#{admin.menu.order.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/item/list}" th:class="display_list" th:text="#{admin.menu.item.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/category/list}" th:class="display_list"
						th:text="#{admin.menu.category.list}"></a>
				</li>
			</ul>
		</div>

		<!--	
		<li><a th:href="@{/}" th:text="#{top}"></a></li>
		<li><a th:href="@{/client/item/list/1}" th:text="#{item}+#{title.list}"></a></li>
		<li><a th:href="@{/client/basket/list}" th:text="#{basket}"></a></li>
		<th:block th:if="${session.user != null}">
			<li><a th:href="@{/client/order/list}" th:text="#{order}+#{title.list}"></a></li>
		</th:block>
		-->
	</ul>

</body>

</html>