<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="パスワード更新+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />

	<style>
		.textarea {
			resize: none;
		}
	</style>
</head>

<body>

	<h2 th:class="title" th:text="パスワード更新+#{title.input}"></h2>
	<p th:class="input_message" th:text="変更するパスワードを入力してください。"></p>
	<p th:class="input_message" th:text="${message}" style="color:red;"></p>
	<div class="user_info_form_area" th:each="user: ${user}">
		<form th:action="@{/client/user/findPassword/check2}" method="post" class="user_info_form">
			<ul class="input_list">
				<li>
					<p>メールアドレス</p>
					<p th:text="${user.email}"></p>
					<input type="hidden" name="email" th:value="${user.email}">
				</li>
				<li>
					<p>携帯番号</p>
					<p th:text="${user.phoneNumber}"></p>
					<input type="hidden" name="phoneNumber" th:value="${user.phoneNumber}">
				</li>
				<li>
					<p th:class="label" th:text="#{loginForm.password}+（8文字以上16文字以内半角英数字）">
					<p class="input"><input type="password" name="password"/></p>
				</li>
				<li>
					<p th:class="label" th:text="#{loginForm.password}+確認">
					<p class="input"><input type="password" name="password2"/></p>
				</li>
			</ul>
			<input type="submit" value="確認" class="send_button" />
		</form>
			<input type="submit" value="戻る" class="send_button" onclick="location.href='/shared_shop/'"/>
		
	</div>
</body>

</html>