<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="パスワード更新+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />

	<style>
		.textarea {
			resize: none;
		}
	</style>
</head>

<body>

	<h2 th:class="title" th:text="パスワード更新"></h2>
	<p th:class="input_message" th:text="メールと携帯番号を入力してください。"></p>

	<div class="user_info_form_area">

		<p th:if="${message != null}"　th:text="${message}" style="color:red;"></p>
		
		<form th:action="@{/client/user/findPassword/check}" method="post" class="user_info_form">
			<ul class="input_list">
				<li>
					<p>メールアドレス</p>
					<input type="text" name="email"/>
				</li>
				<li>
					<p>携帯番号</p>
					<input type="text" name="phoneNumber"/>
				</li>
			</ul>
			<input type="submit" value="確認" class="send_button" />
		</form>
			<input type="submit" value="戻る" class="send_button" onclick="location.href='/shared_shop/'"/>
		
	</div>
</body>

</html>