<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title th:text="#{title.order.check}+' | '+ #{shop.title}"> </title>
</head>

<body>

	<th:block th:if="${msg == 1}">
		<div>
			<h2 class="title" th:text="#{title.order.check}"></h2>
			<p th:class="input_message" th:text="#{msg.order.stop}"></p>
			<ul class="error_list_no_mark">
				<li th:each="noAll:${noAll}" th:text="'※'+ ${noAll} + 'は、在庫切れのため注文できません。'"></li>
			</ul>
			
		</div>
		<br/>
		<div>
			<a th:href="@{/}">[[#{msg.back.to.top}]]</a>
		</div>
	</th:block>

	<th:block th:unless="${msg == 1}">
		<style>
			.indent {
				padding-left: 3em;
			}

			#button1 {
				width: 150px;
				height: 34px;
				font-weight: bold;
			}

			.img {
				width: 10px;

			}
		</style>

		<div>
			<h2 class="title" th:text="#{title.order.check}"></h2>
			<p th:class="input_message" th:text="#{msg.order.check}"></p>
		</div>

		<div class="indent">

			<th:block th:if="${noAll}">
				<ul class="error_list_no_mark">
					<li th:each="noAll:${noAll}" th:text="'※'+ ${noAll} + 'は、在庫切れのため注文できません。'"></li>
				</ul>
				<br />
			</th:block>

			<th:block th:if="${noPart}">
				<ul class="error_list_no_mark">
					<li th:each="noPart:${noPart}" th:text="'※' + ${noPart} + 'は、在庫不足のため、在庫数分のみ注文できます。'"></li>
				</ul>
				<br />
			</th:block>

			<table class="list_table item_list">

				<colgroup>
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>

				<tr>
					<th>[[#{data.item.name}]]</th>
					<th>[[#{data.item.image}]]</th>
					<th>[[#{data.unit.price}]]</th>
					<th>[[#{data.order.num}]]</th>
					<th>[[#{data.subtotal}]]</th>
				</tr>
				<tr th:each="basket:${baskets}">
					<td th:text="${basket.name}"></td>
					<td>
						<img th:src="@{/images/items/{image}(image=${basket.image})}"
							style="width: 100px; height: 100px; object-fit: cover;" th:if="${basket.image != null}">
						<img th:src="@{/images/common/no_image.jpg}"
							style="width: 100px; height: 100px; object-fit: cover;" th:if="${basket.image == null}" />
					</td>
					<td th:text="${'\'+basket.price}"></td>
					<td th:text="${basket.orderNum}"></td>
					<!-- 小計 -->
					<td th:text="${'\'+basket.subTotal}"></td>
				</tr>
				<tr>
					<!-- 全体の合計を出す -->
					<td></td>
					<td></td>
					<td></td>
					<td>[[#{data.total}]]</td>
					<td th:text="${'\'+fullAmount}"></td>
				</tr>
			</table>
		</div>

		<div class="indent">
			[[#{data.address}]]
			<table th:each="order:${orders}" class="list_table item_list">
				<tr>
					<th>[[#{data.address.postalcode}]]</th>
					<td th:text="${order.postalCode}"></td>
				</tr>
				<tr>
					<th>[[#{data.address.address}]]</th>
					<td th:text="${order.address}"></td>
				</tr>
				<tr>
					<th>[[#{data.address.name}]]</th>
					<td th:text="${order.name}"></td>
				</tr>
				<tr>
					<th>[[#{data.address.phonenumber}]]</th>
					<td th:text="${order.phoneNumber}"></td>
				</tr>
			</table>
		</div>

		<div class="indent">
			[[#{paymethod.str}]]
			<table class="list_table item_list">
				<tr>
					<th>[[#{paymethod.str}]]</th>
					<td th:text="${paymentMethod}"></td>
				</tr>
			</table>
		</div>

		<div class="indent">
			<form th:action="@{/client/order/complete}" method="post">
				<input type="submit" value="ご注文の確定" id="button1" />
				<input type="button" value="戻る" id="button1" onclick="history.back()" />
		</div>
	</th:block>

</body>

</html>