<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title th:text="#{title.order.list}+' | '+ #{shop.title}"> </title>
</head>

<body>
	<div>
		<h2 class="title">
			<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
			<span th:if="${sortType==2 || sortType==null}" th:text="注文履歴"></span>
		</h2>
	</div>
	<div th:if="${isEmpty}">
		<p class="message">お客様の注文履歴はありません。</p>
	</div>
	<div th:unless="${isEmpty}">
		<div>
			<table class="list_table item_list">
				<tr>
					<th>ご注文日</th>
					<th>お支払方法</th>
					<th>合計金額</th>
				</tr>
				<tr th:each="order,stat:${orders}">
					<td><a th:text="${order.insertDate}" th:href="@{/client/order/detail/}+${order.id}"> </a> </td>
					<td th:text="${payment.get(__${stat.index}__)}"></td>
					<!-- リクエストスコープに保存されたものを引っ張ってくる(全て) -->
					<td th:text="${'\'+value.get(__${stat.index}__)}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>