<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{title.item.detail}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>
<title>
	Insert title here
</title>

</head>

<body>
	<div>
		<h2 class="title">
			<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
			<span th:if="${sortType==2 || sortType==null}" th:text="商品詳細"></span>
		</h2>
	</div>
	<table class="list_table item_list">
		<div>
			<table class="list_table item_list" style=" width: 580px; float: right;">
				<tr th:each="item:${items}">
					<th style="border-bottom: 0.5px solid white;">商品名</th><td th:text="${item.name}"></td>
				</tr>	
				<tr style="border-bottom: 0.5px solid white;" th:each="item:${items}">
						<th>価格</th><td th:text="${'\'+item.price}"></td>
					</tr>
				<tr style="border-bottom: 0.5px solid white;" th:each="item:${items}">
					<th>説明</th><td th:text="${item.description}"></td>
					</tr>
				<tr style="border-bottom: 0.5px solid white;" th:each="item:${items}">
					<th>在庫数</th><td th:text="${messages}"></td>
					</tr>
				<tr style="border-bottom: 0.5px solid white;" th:each="item:${items}">
					<th>カテゴリ</th><td th:text="${item.category.name}"></td>
				</tr>
			</table>
			<ul th:each="item:${items}">
				<!--画像の上に画像を重ねる6月19日田中-->
				<div class="base">
					<li><img th:src="@{/images/items/{image}(image=*{item.image})}" style="width: 360px; height:360px; " th:if="${item.image != null}">
						<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
					</li>

					<div th:if="${isFavorite}">
						<div class="heart">
							<!--お気に入りの場合、お気に入り登録を削除-->
							<form name="favoriteDelete" th:action="@{/client/favorite/delete}" th:method="post">
								<img th:src="@{/images/common/heart_shape_fav.png}" onclick="deleteSubmit()">
								<input type="hidden" name="itemId" th:value="${item.id}" />
								<input type="hidden" name="returnUrl" th:value="'/client/item/detail/'+${item.id}" />
							</form>
							<script>
								function deleteSubmit() {
									var form = document.favoriteDelete;
									form.submit();
								}
							</script>
						</div>
					</div>
					<div th:unless="${isFavorite}">
						<div class="heart">
							<!--お気に入りでない場合、お気に入りを登録-->
							<form name="favoriteAdd" th:action="@{/client/favorite/add}" th:method="post">
								<img th:src="@{/images/common/heart_shape_notfav.png}" onclick="addSubmit()">
								<input type="hidden" name="itemId" th:value="${item.id}" />
								<input type="hidden" name="returnUrl" th:value="'/client/item/detail/'+${item.id}" />
							</form>
							<script>
								function addSubmit() {
									var form = document.favoriteAdd;
									form.submit();
								}
							</script>
						</div>
					</div>
				</div>
				<!--田中-->

			</ul>
			<th:block th:if="${session.user == null}">
		<form>
			<input th:if="${messages!='在庫なし'}" id="button1" type="button" onclick="loginCheck()" value="買い物かごに入れる" />

		</form>
	</th:block>
	<th:block th:if="${session.user != null}">
		<form th:method="post" th:action="@{/client/basket/add}">
			<input th:if="${messages!='在庫なし'}" id="button1" type="submit" onclick="clickDisplayAlert()"
				value="買い物かごに入れる" />
			<input type="hidden" th:value="${items.id}" name="t_id">
			<input type="hidden" th:value="${items.name}" name="t_name">
			<input type="hidden" th:value="${items.stock}" name="t_stock">
			<input type="hidden" th:value="${items.image}" name="t_img">
		</form>
	</th:block>
	<script>
		function clickDisplayAlert() {
			alert("カートに追加されました");
		}
		function loginCheck() {
			alert('先に、ログインしてください。');
					}
	</script>
	<form method="post">
		<input type="button" onclick="location.href='/shared_shop/client/item/list'" value="戻る" />
	</form>
			
			
		</div>
	</table>
	<style>
		#button1 {
			width: 150px;
			height: 34px;
			font-weight: bold;
		}
	</style>
	

</body>

</html>