<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{title.item.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>


<!--辛による編集2023/06/12-->

<body class="user index">
	<script>

		function goChange(number) {

			if (number == 1) {


				document.getElementById("con1").style.display = "block";
				document.getElementById("con2").style.display = "none";
				document.getElementById("aaa").style.backgroundColor = "#FFD24E";
				document.getElementById("bbb").style.backgroundColor = "white";
			}

			if (number == 2) {

				document.getElementById("con1").style.display = "none";
				document.getElementById("con2").style.display = "block";
				document.getElementById("aaa").style.backgroundColor = "white";
				document.getElementById("bbb").style.backgroundColor = "#FFD24E";
			}
		}

		function goTest(num) {
			if (num == 1) {
				var itemName = document.getElementById("r_itemName").value;
				document.getElementById("t_itemName").value = itemName;
				var categoryId = document.getElementById("r_categoryId").value;
				document.getElementById("t_categoryId").value = categoryId;

				//alert(document.getElementById("t_categoryId").value);
				//alert(t_itemName);


				test1.method = "post";
				test1.action = "/shared_shop/client/item/list";
				test1.submit();

			}
			else if (num == 2) {

				var itemName = document.getElementById("r_itemName").value;
				document.getElementById("t_itemName").value = itemName;
				var categoryId = document.getElementById("r_categoryId").value;
				document.getElementById("t_categoryId").value = categoryId;

				//alert(t_itemName);
				//alert(document.getElementById("t_categoryId").value);

				test2.method = "post";
				test2.action = "/shared_shop/client/item/list";
				test2.submit();


			}


		}

		function overHeart1(id) {
			var heart = document.getElementById("favoritecol1" + id);
			if (heart == null) {
				heart = document.getEletemtById("favoritecol2" + id);
			}
			//alert(heart);
			const visibilityoriginal = heart.style.visibility;
			heart.style.visibility = 'visible';
			//heart.style.visibility = 'hidden';
			//heart.style.visibility;
			//			"favorite_add").hide();
			//			$("favorite_add").fadeIn(900);

		}
		function overHeartOff1(id) {
			//alert('off');
			var heart = document.getElementById("favoritecol1" + id);
			if (heart == null) {
				heart = document.getEletemtById("favoritecol2" + id);
			}
			//alert(heart);
			const visibilityoriginal = heart.style.visibility;
			heart.style.visibility = 'hidden';
		}
		function overHeart2(id) {
			var heart = document.getElementById("favoritecol1" + id);
			if (heart == null) {
				heart = document.getEletemtById("favoritecol2" + id);
			}
			//alert(heart);
			const visibilityoriginal = heart.style.visibility;
			heart.style.visibility = 'visible';
			//heart.style.visibility = 'hidden';
			//heart.style.visibility;
			//			"favorite_add").hide();
			//			$("favorite_add").fadeIn(900);

		}
		function overHeartOff2(id) {
			//alert('off');
			var heart = document.getElementById("favoritecol1" + id);
			if (heart == null) {
				heart = document.getEletemtById("favoritecol2" + id);
			}
			//alert(heart);
			const visibilityoriginal = heart.style.visibility;
			heart.style.visibility = 'hidden';
		}
		history.replaceState({}, null, location.pathname);
	</script>

	<div style="margin-bottom: 20px;">
		<h2 class="title">
			<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
			<span th:if="${sortType==2 || sortType==null}" th:text="商品一覧"></span>
		</h2>
	</div>
	<div>
		<h3 th:text="${'検索結果:'+total+'件'}" style="color: darkgreen;">
			</h2>
	</div>
	<div th:if="${#lists.isEmpty(items)}">
		<p class="message">該当する商品は存在しません。</p>
		<p class="listLink">
			<a th:href="@{/client/item/list}">一覧表示に戻る</a>
		</p>
	</div>
	<script>

	</script>

	<div th:if="!${#lists.isEmpty(items)}" style="float: left;  height: 80px;">
		<form name="test1">

			<input type="hidden" name="t_select" value="新着">
			<input type="hidden" id="t_itemName" name="t_itemName">
			<input type="hidden" id="t_categoryId" name="t_categoryId">
			<input type="hidden" name="itemName" th:value="${search}">
			<input type="hidden" name="categoryId" th:value="${select}">
			<input type="button" th:value="新着順" id="real1" onclick="goTest(1)">
		</form>
		<form name="test2">

			<input type="hidden" name="t_select" value="売れ筋">
			<input type="hidden" id="t_itemName" name="t_itemName">
			<input type="hidden" id="t_categoryId" name="t_categoryId">
			<input type="hidden" name="itemName" th:value="${search}">
			<input type="hidden" name="categoryId" th:value="${select}">
			<input type="button" th:value="売れ筋順" id="real1" onclick="goTest(2)">
		</form>
	</div>

	<div th:if="!${#lists.isEmpty(items)}" style="float: right;">
		<a href="javascript:goChange(1)" id="aaa" style="display: inline-block; width: 40px; height: 40px;"><img
				style="width: 40px; height: 40px;" th:src="@{/images/tanzyunkensu.png}"></a>
		<a href="javascript:goChange(2)" id="bbb" style="display: inline-block; width: 40px; height: 40px;"><img
				style="width: 40px; height: 40px;" th:src="@{/images/hukuzatukensu.png}"></a>
	</div>

	<div id="con1" style="display: none; clear: left;">


		<ul>
			<li th:each="item,stat: ${items}"
				style="background-color: white; border-radius: 10px;  width:30%; height: 365px; display: inline-block; margin: 10px;">
				<!--下に重ねる画像-->
				<div class="base">
					<a id="list_img2" th:href="@{/client/item/detail/{id}(id=*{item.id},page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}"
						style="padding: 0px 0px 0px 24px;">

						<img th:src="@{/images/items/{image}(image=*{item.image})}"
							style="width: 240px; height: 240px; object-fit: cover; border-radius: 6px; z-index: 100;"
							th:onmouseover="'overHeart1('+${item.id}+')'; "
							th:onmouseout="'overHeartOff1('+${item.id}+')'"
							th:if="${item.image != null}" />
						<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" 
						style="width: 240px; height: 240px; object-fit: cover; border-radius: 6px; z-index: 100;"
							th:onmouseover="'overHeart1('+${item.id}+')'; "
							th:onmouseout="'overHeartOff1('+${item.id}+')'"/>
							</a>
					<!--お気に入り処理-->
					<div class="heart">
						<th:block th:if="${session.user != null}">
							<!--お気に入り登録処理-->
							<form name="favoriteAdd" th:unless="${isFavorite.get(__${stat.index}__)}"
								th:action="@{/client/favorite/add/itemlist(page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}" th:method="post">
								<input type="hidden" name="itemId" th:value="${item.id}">
								<img th:id="'favoritecol'+${item.id}" th:src="@{/images/common/heart_shape_notfav.png}"
									th:onmouseover="overHeart()" onclick="submit()">
							</form>
							<!--お気に入り削除処理-->
							<form name="faroviteDelete" th:if="${isFavorite.get(__${stat.index}__)}"
								th:action="@{/client/favorite/delete/itemlist(page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}" th:method="post">
								<input type="hidden" name="itemId" th:value="${item.id}">
								<img th:id="'favoritecol'+${item.id}" th:src="@{/images/common/heart_shape_fav.png}"
									th:onmouseover="'overHeart1('+__${item.id}__+')'"
									th:onmouseout="'overHeartOff1('+__${item.id}__+')'" onclick="submit()">
							</form>
						</th:block>
					</div>
				</div>
				<div style=" padding-left: 10px; background-color: lightyellow;  border-radius: 0px 0px 10px 10px; position: absolute; width: 278px; height: 120px; z-index: 10;">
					<a style="text-decoration: none; overflow: hidden;
								 display: -webkit-box;
 								 -webkit-box-orient: vertical;
  								 -webkit-line-clamp: 2;" id="item_name"
						th:href="@{/client/item/detail/{id}(id=*{item.id})}"
						><span style="font-size: 20px;"
							th:text="${item.name}"></span></a><br>
					<span style="color: #B12704; font-size: 25px; position: absolute; bottom: 25px;" th:text="${'\'+item.price}"></span><br>
					<span style="position: absolute; bottom: 5px;" th:text="${item.category.name}"></span>
				</div>
			</li>
		</ul>
	</div>

<!--秋山の編集06/26-->

	</div>

	<table id="con2" class="list_table item_list" th:if="!${#lists.isEmpty(items)}">
		<!--/* 商品情報 */-->
		<div id="con2" style="display: block; clear: left;">
			<ul>
				<li th:each="item,stat: ${items}"
					style="background-color: white; border-radius: 10px;  width:18%; height: 220px; display: inline-block; margin: 7px;">
					<!--下に重ねる画像-->
					<div class="base">
						<a id="list_img" th:href="@{/client/item/detail/{id}(id=*{item.id},page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}"
							style="padding: 0px 0px 0px 28px;">

							<img th:src="@{/images/items/{image}(image=*{item.image})}"
								style="width: 115px; height: 115px; object-fit: cover; border-radius: 6px; z-index: 100;"
								th:onmouseover="overHeart2()" th:onmouseout="overHeartOff2()" 
								th:if="${item.image != null}"/>
							<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}"
							style="width: 115px; height: 115px; object-fit: cover; border-radius: 6px; z-index: 100;"
								th:onmouseover="overHeart2()" th:onmouseout="overHeartOff2()"> 
								</a>

						<!--お気に入り処理-->

						<div class="heart">
						<th:block th:if="${session.user != null}">
							<!--お気に入り登録処理-->
							<form name="favoriteAdd" th:unless="${isFavorite.get(__${stat.index}__)}"
								th:action="@{/client/favorite/add/itemlist(page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}" th:method="post">
								<input type="hidden" name="itemId" th:value="${item.id}">
								<img th:id="'favoritecol'+${item.id}" th:src="@{/images/common/heart_shape_notfav.png}"
									th:onmouseover="overHeart()" onclick="submit()">
							</form>
							<!--お気に入り削除処理-->
							<form name="faroviteDelete" th:if="${isFavorite.get(__${stat.index}__)}"
								th:action="@{/client/favorite/delete/itemlist(page=${page},itemName=${search},categoryId=${select},t_select=${t_select})}" th:method="post">
								<input type="hidden" name="itemId" th:value="${item.id}">
								<img th:id="'favoritecol'+${item.id}" th:src="@{/images/common/heart_shape_fav.png}"
									th:onmouseover="'overHeart1('+__${item.id}__+')'"
									th:onmouseout="'overHeartOff1('+__${item.id}__+')'" onclick="submit()">
							</form>
						</th:block>
					</div>
						<div
							style=" padding-left: 10px; background-color: lightyellow;   border-radius: 0px 0px 10px 10px; position: absolute; width:163px; height: 100px; z-index: 10;">
							<a id="item_name" th:href="@{/client/item/detail/{id}(id=*{item.id})}"
								style="text-decoration: none;"><span style="font-size: 15px; 
								overflow: hidden;
								 display: -webkit-box;
 								 -webkit-box-orient: vertical;
  								 -webkit-line-clamp: 2;"
									th:text="${item.name}"></span></a><br>
							<span style="color: #B12704; font-size: 20px; position: absolute; bottom: 25px;" th:text="${'\'+item.price}"></span><br>
							<span style="position: absolute; bottom: 5px;" th:text="${item.category.name}"></span>
						</div>
				</li>
				<li>
				</li>
			</ul>
		</div>
	</table>
	<style>
	
		.paging1 {
			text-align: center;

		}

		.paging1 li {
			display: inline-block;

		}

		.paging1 li a {
			text-decoration: none;

		}

		.paging1 li a:hover {
			background-color: white;

		}

		#list_img img {
			transition: 0.4s;

		}

		#list_img:hover img {

			transform: scale(1.5);
			opacity: 0.8;

		}

		#list_img2 img {
			transition: 0.4s;

		}

		#list_img2:hover img {

			transform: scale(1.2);
			opacity: 0.8;

		}

		li span {
			color: black;

		}

		#item_name:hover span {
			color: chocolate;
		}
	</style>


	<th:block th:if="!${#lists.isEmpty(items)} and ${All}==all">
		<ul class="paging1">
			<!-- 先頭のページリンク -->
			<li>
				<span th:if="${pages.first}">&lt;&lt;</span>
				<a th:if="${not pages.first}" th:href="@{/client/item/list(page=0)}">&lt;&lt;</a>
			</li>
			<!-- 中間のページリンク -->
			<li th:each="i : ${#numbers.sequence(0, pages.totalPages-1)}"
				th:style="${i} == ${page} ? 'background-color: gray; border-radius: 100px' : 'background-color: none'">
				<span th:if="${i}==${pages.number}" th:text="${i+1}"
					th:style="${i} == ${page} ? 'color: white;' : 'color:black'"></span>
				<a th:if="${i}!=${pages.number}" th:href="@{/client/item/list(page=${i})}">
					<span th:text="${i+1}" th:style="${i} == ${page} ? 'color: white;' : ''"></span>
				</a>
			</li>
			<!-- 末尾のページリンク -->
			<li>
				<span th:if="${pages.last}">&gt;&gt;</span>
				<a th:if="${not pages.last}" th:href="@{/client/item/list(page=(${pages.totalPages}-1))}">&gt;&gt;</a>
			</li>
		</ul>
	</th:block>


	<th:block th:if="!${#lists.isEmpty(items)} and ${All}!=all">
		<ul class="paging1">
			<!-- 先頭のページリンク -->
			<li>
				<span th:if="${pages.first}">&lt;&lt;</span>
				<a th:if="${not pages.first}"
					th:href="@{/client/item/list(page=0,itemName=${search},categoryId=${select},t_select=${t_select})}">&lt;&lt;</a>
			</li>
			<!-- 中間のページリンク -->
			<li th:each="i : ${#numbers.sequence(0, pages.totalPages-1)}"
				th:style="${i} == ${page} ? 'background-color: gray; border-radius: 100px' : 'background-color: none'">
				<span th:if="${i}==${pages.number}" th:text="${i+1}"
					th:style="${i} == ${page} ? 'color: white;' : 'color:black'"></span>
				<a th:if="${i}!=${pages.number}"
					th:href="@{/client/item/list(page=${i},itemName=${search},categoryId=${select},t_select=${t_select})}">
					<span th:text="${i+1}" th:style="${i} == ${page} ? 'color: white;' : 'color:black'"></span>
				</a>
			</li>
			<!-- 末尾のページリンク -->
			<li>
				<span th:if="${pages.last}">&gt;&gt;</span>
				<a th:if="${not pages.last}"
					th:href="@{/client/item/list(page=(${pages.totalPages}-1),itemName=${search},categoryId=${select},t_select=${t_select})}">&gt;&gt;</a>
			</li>
		</ul>
	</th:block>



</body>

</html>