<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="買い物かご｜シェアードショップ"> </title>
	<meta charset="UTF-8" />
</head>


<!--辛による編集2023/06/12-->

<body class="user index">
	
	
	<div>
		<h2 class="title" th:text="買い物かご">
			<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
			<span th:if="${sortType==2 || sortType==null}" ></span>
		</h2>
	</div>
	
	<div th:if="${#lists.isEmpty(baskets)}">
		<p class="message">買い物かごに追加した商品は存在しません。</p>
		<p class="listLink">
			<a th:href="@{/client/item/list}">一覧表示に戻る</a>
		</p>
	</div>

	<table class="list_table item_list" th:if="!${#lists.isEmpty(baskets)}">
		<!--/* 商品情報 */-->
			<colgroup>
			<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
				<col width="20%">
			</colgroup>
			<tr>
				<th>商品写真</th>
				<th>商品名</th>
				<th>在庫状況</th>
				<th>数</th>
				<th>操作</th>
			</tr>
			
			<tr th:each="basket:${baskets}">	

				<td><a id="list_img" th:href="@{/client/item/detail/{id}(id=*{basket.id})}">
				<img style="width: 100px; height: 100px;" th:src="@{/images/items/{image}(image=*{basket.image})}" th:if="${basket.image != null and basket.image != ''}">
				<img style="width: 100px; height: 100px;" th:src="@{/images/common/no_image.jpg}" th:if="${basket.image == ''}" />
				</a></td>
				
				<td><a th:text="${basket.name}" th:href="@{/client/item/detail/{id}(id=*{basket.id})}" style="text-decoration: none;"></a></td>

				<td th:text="${basket.stock}"></td>
				<form th:action="@{/client/basket/update/{id}(id=${basket.id})}" method="post">
					<td>
						<input type="number" name="t_order" th:value="${basket.orderNum}" min="0" th:max="${basket.orderNum}" oninput='handleOnInput(this, 3)'
						style="width: 40px"	>
					</td>
					<td>
						<input type="submit" value="数量調節" class="delete"/>
					</form>
					<form th:action="@{/client/basket/delete/{id}(id=*{basket.id})}" method="post">
						<input type="submit" value="削除" class="delete"/>
					</form>
				</td>
			</tr>
	</table>
	<script>
		function handleOnInput(el, maxlength) {
			  if(el.value.length > maxlength)  {
			    el.value 
			      = el.value.substr(0, maxlength);
			  }
			}
	</script>	
	<th:block th:if="${message == 1}">
		<script>
			alert("変更されました。");
		</script>
	</th:block>
	
	<th:block th:if="${message == 2}">
		<script>
			alert("削除されました。");
		</script>
	</th:block>
		<div th:if="!${#lists.isEmpty(baskets)}">
		<form th:action="@{/client/order/address/input}" th:method="post">
			<input type="submit" value="ご注文のお手続き" style="background-color: brown; color: white;">
		</form>
		<form th:action="@{/client/basket/deleteAll}" th:method="post">
			<input type="submit" value="買い物かごを空にする">
		</form>
		</div>
</body>

</html>